<h1>Pie Ingredients</h1>

<% @ingredients.each do |ingredient| %>
  <%= link_to "#{ingredient.name}", "/pies/ingredients/#{ingredient.id}" %>
<% end %>

<%= link_to "New Ingredient", "/pies/ingredients/new" %>
